p {
    /* ========================== Color ======================================= */
    /* Color property */
    color: blueviolet;

    /* ========================== Size ======================================= */
    /* Text/font size property */
    font-size: small;
    font-size: smaller;
    font-size: x-small;
    font-size: xx-small;
    font-size: medium;
    font-size: x-large;
    font-size: xx-large;
    font-size: large;
    font-size: larger;

    /* ========================== Decoration ======================================= */
    /* decoration property (underline, overline, lineThrough) */
    text-decoration: overline;
    text-decoration: line-through;
    text-decoration: underline;
    text-decoration-line: underline;
    /* decoration style (dashed, dotted, double, solid, wavy) */
    text-decoration-style: dashed;
    text-decoration-style: dotted;
    text-decoration-style: double;
    text-decoration-style: wavy;
    text-decoration-style: solid;
    /* line color: hex, rbg, rbga */
    text-decoration-color: brown;
    /* line thickness */
    text-decoration-thickness: 1px;

    /* text-decoration-skip: space; */

    /* short hand of decoration */
    text-decoration: underline solid red 2px;


    /* ========================== Align text ======================================= */
    /* text align: end,right | start,left | center | justify: equal space both side */
    text-align: end;
    text-align: right;
    text-align: left;
    text-align: start;
    text-align: justify;
    text-align: center;
    text-align: left;

    /* ========================== direction ======================================= */
    /* text Direction (RtL & LtR) for urdu or any other lang */
    direction: rtl;
    direction: ltr;

    /* ========================== Transform text ======================================= */
    /* text transformation (Lowercase to uppercase or U to L or capatilize */
    text-transform: uppercase;
    text-transform: lowercase;
    text-transform: capitalize;

    /* ========================== Spacing ======================================= */
    /* first line spacing in paragraph ( indent property ) */
    text-indent: 8rem;
    text-align: justify;

    /* spacing between Letters not words (letter spacing property ) */
    letter-spacing: 0.2rem;

    /* spacing between words not letter (Word spacing property ) */
    word-spacing: 0.2rem;

    white-space: nowrap;


    /* Certainly! The word-break property in CSS controls how words break when reaching the end of a line. */
    /* word-wrap: break-word; */
    /* word-break: keep-all; */


    /* line spacing ( line-height) */
    line-height: normal;
    line-height: 0.1rem;
    line-height: 2rem;


    /* ========================== Wrap text ======================================= */

    /* Wrap text ('nowrap' whole paragraph in one line)*/
    white-space: nowrap;
    white-space: wrap;
    /* white-space-collapse: preserve-spaces; */

}